 .u-section-1 {
  background-image: none;
  min-height: 1126px;
}

.u-section-1 .u-icon-1 {
  width: 57px;
  height: 57px;
  margin: 5px auto 0 calc(((100% - 1140px) / 2) + -147px);
  padding: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 4px auto 60px 0;
}

.u-section-1 .u-image-1 {
  min-height: 993px;
  background-image: url("/images/2442800255-01.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 22px 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 993px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 11px 134px 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 7px 94px 0 auto;
}

.u-section-1 .u-form-1 {
  height: 908px;
  width: 435px;
  margin: -32px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-top: 20px !important;
}

.u-section-1 .u-input-1 {
  background-image: none;
  height: 55px;
}

.u-section-1 .u-form-group-2 {
  margin-top: 20px !important;
}

.u-section-1 .u-input-2 {
  background-image: none;
  height: 55px;
}

.u-section-1 .u-form-group-3 {
  margin-top: 20px !important;
}

.u-section-1 .u-input-3 {
  background-image: none;
  height: 55px;
}

.u-section-1 .u-form-group-4 {
  margin-top: 20px !important;
}

.u-section-1 .u-input-4 {
  background-image: none;
  height: 55px;
}

.u-section-1 .u-form-group-5 {
  margin-top: 20px !important;
}

.u-section-1 .u-input-5 {
  background-image: none;
  height: 55px;
}

.u-section-1 .u-form-group-6 {
  margin-top: 20px !important;
}

.u-section-1 .u-input-6 {
  background-image: none;
  height: 55px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  width: 100%;
  border-style: solid;
  padding: 14px 0 15px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 952px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 940px) / 2) + -147px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-image-1 {
    min-height: 819px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 819px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 110px;
  }

  .u-section-1 .u-form-1 {
    width: 360px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 760px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 720px) / 2) + -147px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-image-1 {
    min-height: 627px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 84px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 72px;
  }

  .u-section-1 .u-form-1 {
    width: 276px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 996px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 540px) / 2) + -147px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-image-1 {
    min-height: 763px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 713px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 340px) / 2) + -147px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-image-1 {
    min-height: 480px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}