 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/images/bgHome.jpg");
  background-position: 50% 50%;
  min-height: 932px;
}

.u-section-1 .u-icon-1 {
  width: calc(((100% - 1140px) / 2) + 7px);
  height: 57px;
  margin: 26px auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  margin: 29px auto 0 calc(((100% - 1140px) / 2) + 379px);
}

.u-section-1 .u-form-1 {
  height: 74px;
  background-image: none;
  width: 656px;
  margin: 92px auto 60px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875rem;
  width: 100%;
  padding: 11px 31px 12px 29px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 768px;
  }

  .u-section-1 .u-icon-1 {
    width: calc(((100% - 940px) / 2) + 7px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 313px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 588px;
  }

  .u-section-1 .u-icon-1 {
    width: calc(((100% - 720px) / 2) + 7px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 240px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 441px;
  }

  .u-section-1 .u-icon-1 {
    width: calc(((100% - 540px) / 2) + 7px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 180px);
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 278px;
  }

  .u-section-1 .u-icon-1 {
    width: calc(((100% - 340px) / 2) + 7px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 113px);
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}